.shadowcard {
    filter: brightness(70%);
}

.invisible {
  visibility: hidden;
}

.top-asad {    
      transform: translate(-0%, -2500%);
    }

    

.image-offset {    
      transform: translate(+0%, +1%);
    }


 .font2 {
        visibility: hidden;
      }

.mapStyles {
           max-width: 502px;
          max-height: 650px;
          
      }